// Tablets & Smaller
@media (max-width: 800px) {
  #showcasee {
    height: 100vh;
  }
}

// Smartphones
@media (max-width: 500px) {
  #main-navv {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    margin: 0 0.2rem;
  }

  #showcasee {
    .display-1 {
      font-size: 3.5rem;
    }

    .display-4 {
      font-size: 2rem;
    }

    h4 {
      padding-top: calc(15vh)
    }

    p {
      margin: 1rem;
      font-size: 1rem;
      padding: 0 1rem;
      text-align: center;
    }

    .button {
      padding: 10px 24px;
    }
  }

  #works-mobile {
    display: grid;
  }

  #works {
    display: none;
  }

  #skills {
    .items {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 .35rem;
    }
  }

  #contact {
    .social {
      display: flex;
      justify-items: center;
      align-items: center;
      margin: 0 2rem;;
    }
    .social .fab {
      border: 2px $main-color solid;
      border-radius: 50%;
      height: 65px;
      width: 65px;
      line-height: 50px;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;
      color: $light-color;
      background: $main-color;


      &:hover {
        border: 2px $light-color solid;
        transform: translateY(-15px);
      }
    }
  }
}



// Landscape
@media (max-height: 580px) {
  #showcasee {
    height: 100vh;
    .display-1 {
      font-size: 3.5rem;
    }

    .display-4 {
      font-size: 2rem;
    }

    h4 {
      padding-top: calc(23vh)
    }

    p {
      margin: 1rem;
      font-size: 1rem;
    }

    .button {
      padding: 10px 24px;
    }
  }

}
