// Tablets & Smaller
@media (min-width: 501px) and (max-width: 800px){
 .items {
    margin: 1rem 3rem;
 }

 .item {
  &-text-wrap {
    .category {
      font-size: 0.35rem;
      text-transform: uppercase;
      padding: 0.2rem 0.3rem;
      border-radius: 12px;
      margin-bottom: 0.25rem;
      } 
    }
    &-text-title {
      font-size: .7rem;
      padding: 0rem;
      margin: 10px 0 0 0;
      a {
        display: block;
        font-weight: 200;
        padding: 4px 10px;
        margin: .5rem;
        border-radius: 3px;
      }
    }
    &-text-category {
      font-size: .5rem;
      padding: 0 .3rem;
      margin: .2rem;
      a {
        color: $main-color;
        text-decoration: underline;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  #skills {
    p.item-text-category {
        font-size: .55rem;
      }
    
  }
}

// Smartphones
@media (max-width: 500px) {
  #main-navv {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    margin: 0 0.2rem;
  }

  #showcasee {
    .display-1 {
      font-size: 3.5rem;
    }

    .display-4 {
      font-size: 2rem;
    }

    h4 {
      padding-top: calc(15vh)
    }

    p {
      margin: 1rem;
      font-size: 1rem;
      padding: 0 1rem;
      text-align: center;
    }

    .button {
      padding: 10px 24px;
    }
  }

  #works-mobile {
    display: grid;

    .items {
      grid-template-columns:1fr;
      margin: 0 .35rem;
      padding: 0;
    }
  }

  #works {
    display: none;
  }

  #skills {
    .items {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 .35rem;
    }
  }

  #contact {
    .social {
      display: flex;
      justify-items: center;
      align-items: center;
      margin: 0 2rem;;
    }
    .social .fab {
      border: 2px $main-color solid;
      border-radius: 50%;
      height: 65px;
      width: 65px;
      line-height: 50px;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;
      color: $light-color;
      background: $main-color;

      &:hover {
        border: 2px $light-color solid;
        transform: translateY(-15px);
      }
    }
  }
}



// Landscape
@media (max-height: 580px) {
  #showcasee {
    height: 100vh;
    .display-1 {
      font-size: 2.5rem;
    }

    .display-4 {
      font-size: 1.5rem;
    }

    h4 {
      padding-top: calc(21vh)
    }

    p {
      margin: 1rem;
      font-size: .55rem;
    }

    .button {
      padding: 8px 20px;
    }
  }

}
