@import "../node_modules/bootstrap/scss/bootstrap";

.jumbotron-fluid {
  height: 60vh;
  text-align: center;
  margin-bottom: 0;
  overflow: hidden;
}

.jumbotron {
  background: url("/dist/img/logos/about.jpg") no-repeat center center/cover;
}
