@import "../node_modules/bootstrap/scss/bootstrap";
body {
  background: red;
}
.custom-carl {
  background-color: #333;
  width: 300px;
  height: 200px;
  margin-top: 1rem;
}

.carl-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.1rem;
  justify-content: center;
  align-content: center;
}

.carl-container:nth-child(1) {
  margin-left: 4rem;
}

.carousel-control-prev {
  margin: 0;
  padding: 0;
}
