
@import url("https://fonts.googleapis.com/css?family=Kanit");
@font-face {
  font-family: 'Genericons';
  src: url("../fonts/genericons-regular-webfont.eot") format("truetype");
  src: url("../fonts/genericons-regular-webfont.woff") format("woff"); 
}

$main-color: #e50914;
$dark-color: #000000;
$light-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background: $dark-color;
}

h2 {
  color: $main-color;
  text-align: center;
}


#main-navv {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: $dark-color;
  color: $main-color;
  justify-content: space-around;
  z-index: 1;
  padding: 1rem;

  #logo {
    font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: $main-color;
    text-decoration: none;
    font-size: 2rem;

    :hover {
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    li {
      a {
        color: $light-color;
        padding: 0.5rem;
        margin: 0 0.5rem;
        font-size: 1.2rem;
        text-decoration: none;
        border-bottom: 2px transparent solid;
        transition: all 0.1s ease-in;
      }

      :hover {
        border-bottom: 2px $main-color solid;
        color: $main-color;
      }
    }
  }
}

#showcasee {
  background: #333 url("../img/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  color: #fff;
  margin-top: -85px;
  overflow: hidden;

  .showcase-contentt {
    height: 100%;
    text-align: center;

    /* Overlay */
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  h4 {
    padding-top: calc(20vh);
  }

  p {
    margin: 2rem 4rem;
    padding: 0 7rem;
  }

  .button {
    background-color: $main-color;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 16px 30px;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 0.1s;
    font-size: 1.3rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 7%;
  animation: blink 2s linear infinite;
}

@keyframes blink{
  0%{opacity: 0.5;}
  100%{opacity: 1;}
  }

.carousel-control-next-icon, 
.carousel-control-prev-icon {
 width: 30px;
height: 30px;

}

#works {
  img {
    width: 100%;
    height: 100%;
  }
  i {
    margin-right: .5rem;
  }
  p{
    color: #fff;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 4rem;
}

.item {
  position: relative;
  background: $dark-color;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  // Bring in main color overlay
  &:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  // Scale image on hover
  &:hover &-image {
    transform: scale(1.2);
  }

  // Bring in text on hover
  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }

  &-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-100%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
      transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
  }

  &-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    .category {
      display: inline-block;
      color: $dark-color;
      font-size: 0.65rem;
      text-transform: uppercase;
      padding: 0.4rem 0.6rem;
      border-radius: 15px;
      margin-bottom: 0.5rem;
      background: $light-color;
    }
  }

  &-text-title {
    font-size: 1rem;
    padding: 0rem;
    margin: 15px 0 0 0;
    a {
      display: block;
      background-color: $main-color;
      text-decoration: none;
      color: #fff;
      font-weight: 300;
      padding: 8px 18px;
      margin: 1rem;
      border-radius: 3px;
      box-sizing: border-box;
      transition: all 0.3s;
  
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0 .3rem;
    margin: .2rem;
    a {
      color: $main-color;
      text-decoration: underline;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  
}

#works-mobile {
  display: none;
  h2 {
    margin: 1rem;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
  }
  p{
    color: #fff;
    text-align: center;
  }
}


#contact {

    .social {

      display: flex;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;

    }
    .social .fab {
      margin: .5rem;
      border: 2px $main-color solid;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      line-height: 70px;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;
      color: $light-color;
      background: $main-color;
      transition: all .2s ease-in;
    

      &:hover { 
        color: $light-color;
        border: 2px $light-color solid;
        transform: translateY(-15px);
      }
    }
  }

  .skill-contact {
    display: flex;
  }
  

#main-footer {
  color: $light-color;
  border-top: 1px solid $main-color;

  p {
    padding: 1rem;
  }
}



@import "media";
