@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Kanit");

$main-color: #e50914;
$dark-color: #000000;
$light-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background: $dark-color;
}


#main-navv {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: $dark-color;
  color: $main-color;
  justify-content: space-around;
  z-index: 1;
  padding: 1rem;

  #logo {
    font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: $main-color;
    text-decoration: none;
    font-size: 2rem;

    :hover {
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    li {
      a {
        color: $light-color;
        padding: 0.5rem;
        margin: 0 0.5rem;
        font-size: 1.2rem;
        text-decoration: none;
        border-bottom: 2px transparent solid;
        transition: all 0.5s ease-in;
      }

      :hover {
        border-bottom: 2px $main-color solid;
        color: $main-color;
      }
    }
  }
}

#showcasee {
  background: #333 url("https://res.cloudinary.com/dedflteib/image/upload/v1556060834/bg_giykht.png") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  color: #fff;
  margin-top: -85px;
  overflow: hidden;

  .showcase-contentt {
    height: 100%;
    text-align: center;

    /* Overlay */
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  h4 {
    padding-top: calc(20vh);
  }

  p {
    margin: 2rem 4rem;
  }

  .button {
    background-color: $main-color;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 16px 30px;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 0.3s;
    font-size: 1.2rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 3%;
}

#works {
  img {
    width: 100%;
    height: 100%;
  }
  h1 {
    color: $light-color;
    text-align: center;
  }
  i {
    margin-right: .5rem;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0);
  margin: 2rem;
}

.item {
  position: relative;
  background: $dark-color;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  // Bring in main color overlay
  &:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  // Scale image on hover
  &:hover &-image {
    transform: scale(1.2);
  }

  // Bring in text on hover
  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }

  &-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }

  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-100%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
      transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
  }

  &-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &-text-title {
    font-size: 1rem;
    padding: 0rem;
    margin: 15px 0 0 0;
    a {
      display: block;
      background-color: $main-color;
      text-decoration: none;
      color: #fff;
      font-weight: 300;
      padding: 8px 18px;
      margin: 1rem;
      border-radius: 3px;
      box-sizing: border-box;
      transition: all 0.3s;
  
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0;

  }
}

#works-mobile {
  display: none;
  h1 {
    color: $light-color;
    text-align: center;
    margin: 1rem;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr;
  }
}

#skills {
  overflow: hidden;
  h1 {
    color: $light-color;
    text-align: center;
  }

  img {
    width: 70%;
    display: block;
    margin: 0.55rem auto;
  }

 
}

#contact {
  h1 {
    color: $light-color;
    text-align: center;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin: 1rem 2rem;
    color: white;
    background: $dark-color;

    .card-body {
      background-color: $dark-color;
      border-color: $dark-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;

      .btn {
        border: none;
      }
      .btn-primary {
        background: $main-color;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

#main-footer {
  color: $light-color;
  border-top: 1px solid $main-color;

  p {
    padding: 1rem;
  }
}

@import "media";
